<div class="comment_form">
  <% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= form_for [@commentable, @comment] do |f| %>
  <fieldform>
    <div>
      <%= f.label :author, "Add your name" %>
      <%= f.text_field :author %>
    </div>
    <div>
      <%= f.label :author_email, "Add email address" %>
      <%= f.text_field :author_email %>
    </div>
    <div>
      <%= f.label :author_url, "URL?" %>
      <%= f.text_field :author_url %>
    </div>
    <div>
      <%= f.label :content, "Add comment" %>
      <%= f.text_area :content %>
    </div>
    <%= f.hidden_field :referrer, value: request.referrer %>
    <%= f.hidden_field :commentable_id, value: @commentable.id %>
    <div class="actions">
      <%= f.submit "Submit comment for approval" %>
    </div>
    <% end %>
  </fieldform>
