<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="container">
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, style: "width: 300px" %>
    </div>
    <div>
      <%= f.label :content %><br />
      <%= f.text_area :content, style: "width: 700px" %>
    </div>
    <div>
      <%= f.file_field :image %>
    </div>
    <div>
      <%= f.label :remote_image_url, "or image URL" %><br />
      <%= f.text_field :remote_image_url %>
    </div>
    <% if policy(Post).publish? %>
      <div class="field">
        <%= f.label :published %>
        <%= f.check_box :published %>
      </div>
    <% end %>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>

