<div class="row pull-right">
  <% if current_user.try(:admin?) %>
    <%= link_to 'New Post', new_post_path, class: "btn btn-primary pull-right"%>
  <% end %>
</div>
<div class="home-link">
    <%= link_to "<<", root_path %>
  </div>

<% @posts.each do |post| %>
  <div class="container">
    <div class="row row-centered">
      <div class="col-lg-6 col-md-4 col-sm-6 col-xs-6 col-centered blog-title">
        <%= link_to post.title, post_path(post) %>
      </div>
    </div>
      <div class="row row-centered">
        <div class="col-lg-6 col-centered blog-date">
          <%= l post.created_at, format: :long %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-6 col-lg-offset-3 col-centered blog-post">
        <% if post.content.length > 250 %>
          <%= markdown post.content.truncate(250) %>
          <%= link_to '...Read on ->', post_path(post) %>
        <% else %>
          <%= markdown post.content %>
        <% end %>
      </div><!-- blogpost -->
    </div>
    <br />


  <% if current_user.try(:admin?) %>
    <% if post.published? == false && policy(post).publish? %>
      <%= button_to 'Publish', post_path(post, post: { published: true }),
    method: :put, class: "btn btn-default" %>
    <% end %>

    <% if policy(post).destroy? %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% end %>

    <% if policy(post).update? %>
      <%= link_to 'Edit Post', edit_post_path(post), class: "btn btn-info" %>
    <% end %>

    <% if post.published? && policy(post).publish?%>
      <%= link_to 'Unpublish', post_path(post, post: { published: false }), method: :put, data: { confirm: 'Are you sure you want to unpublish?'}, :class => 'btn btn-warning' %>
    <% end %>
    <div class="btn btn-success">
    <%= "Published" if post.published %>
    </div>
  <% end %>
<% end %>
</div><!-- blogContent -->

<script>
snowStorm.stop()
</script>
