<!DOCTYPE html>
<html>
<head>
  <title>Derik Strattan's Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="assets/javascripts/lettering.js"></script>
  <script src="assets/javascripts/textillate.js"></script>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Derik Strattan" content="Derik's personal portfolio">

  <link rel="shortcut icon" href="Favicon.ico">

  <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>

  <% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %>">
    <%= value %>
  </div>
  <% end %>

  <%= yield %>

</body>

</html>
