<!DOCTYPE html>
<html>
<head>
  <title>Derik Strattan's Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Derik Strattan" content="blog, photos, projects">

  <link rel="shortcut icon" href="Favicon.ico">
  <link rel="shortcut icon" href="Favicon.ico">

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body id="derikstrattan">
  <div id="globalContainer">
    <div id="header">
      <a class="navbar-brand" href="/">DERIK STRATTAN</a>
      <div id="nav-menu">
        <ul>
          <li id="blog">
            <a href= <%= posts_path %> >
              BLOG
            </a>
          </li>
          <li id="photos">
            <a href="/photos/">
              PHOTOS
            </a>
          </li>
          <li id="projects">
            <a href="/projects/">
              PROJECTS
            </a>
          </li>
          <li id="about">
            <a href= <%= about_path %> >
              ABOUT
            </a>
          </li>
        </ul>
      </div><!-- nav-menu -->
    </div><!-- header -->

    <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
    <% end %>

    <div class="sign_out pull-right">
      <% if current_user.present? %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: :btn %>
      <% end %>
    </div>

    <%= yield %>

  </div>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/smoothscroll.js"></script>
    <script src="assets/javascripts/Chart.js"></script>
</body>
</html>
